:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  --primary-color: #242424;
  --secondary-color: #444444;
  --accent-color: #4a44bd;
  --bg-primary: #06030f;
  --bg-secondary: #12101c;
  --font-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: var(--bg-primary);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

li {
  list-style-position: inside;
}

input {
  border-radius: 8px;
  /* border: 1px solid transparent; */
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.button {
  background-color: #1a1a1a;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  overflow: hidden;
}

.button:hover {
  background-color: var(--accent-color);
}
.button:disabled {
  background-color: #888;
  cursor: not-allowed;
}

.bg-accent {
  background-color: var(--accent-color);
}

.flex-y {
  display: flex;
  flex-direction: column;
}

.flex-x {
  display: flex;
  flex-direction: row;
}

.gap-small {
  gap: 5px;
}

.gap-medium {
  gap: 10px;
}

.gap-large {
  gap: 20px;
}

.wrap-wrap {
  flex-wrap: wrap;
}

.padding-small {
  padding: 5px !important;
}

.padding-medium {
  padding: 10px !important;
}

.padding-large {
  padding: 20px !important;
}

.box-20 {
  width: 20px;
  height: 20px;
  border: 1px solid white;
}

.align-center {
  align-items: center;
}

.rounded-small {
  border-radius: 5px;
}

.w-100 {
  width: 100%;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.text-center {
  text-align: center;
}

.bordered {
  border: 1px solid var(--secondary-color);
}

.text-muted {
  color: #888;
}

.pointer {
  cursor: pointer;
}

.box-50 {
  width: 50px;
  height: 50px;
}

.bg-secondary {
  background-color: var(--bg-secondary);
}

.bg-primary {
  background-color: var(--bg-primary);
}
.button-medium {
  padding: 10px 20px;
}

.svg-container {
  width: fit-content;
  > svg {
    width: 25px;
    height: 25px;
  }
}

.wrap-wrap {
  flex-wrap: wrap;
}

.circle {
  border-radius: 50%;
}

.rounded-medium {
  border-radius: 10px;
}

.rounded-large {
  border-radius: 20px;
}

.rounded-50 {
  border-radius: 50%;
}

.fit-content {
  width: fit-content;
}

.text-small {
  font-size: 14px;
}

.box-30 {
  width: 30px;
  height: 30px;
}

.separator-large {
  margin-block: 20px;
  outline: none;
  border: none;
  border-bottom: 1px solid var(--secondary-color);
  width: 80%;
  margin-inline: auto;
}

.gap-big {
  gap: 20px;
}

.w-100 {
  width: 100%;
}

.bg-gray-light {
  background-color: #7d7d7d37;
}
