:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  --accent-color: #4a44bd;
  --bg-color-2: #1a1a1a;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

input {
  border-radius: 8px;
  /* border: 1px solid transparent; */
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.bg-accent {
  background-color: var(--accent-color);
}

.flex-y {
  display: flex;
  flex-direction: column;
}

.flex-x {
  display: flex;
  flex-direction: row;
}

.gap-small {
  gap: 5px;
}

.gap-medium {
  gap: 10px;
}

.gap-large {
  gap: 20px;
}

.wrap-wrap {
  flex-wrap: wrap;
}

.padding-small {
  padding: 5px;
}

.padding-medium {
  padding: 10px;
}

.padding-large {
  padding: 20px;
}

.box-20 {
  width: 20px;
  height: 20px;
  border: 1px solid white;
}

.align-center {
  align-items: center;
}

.rounded-small {
  border-radius: 5px;
}

.w-100 {
  width: 100%;
}

.justify-center {
  justify-content: center;
}

.text-center {
  text-align: center;
}

.bordered {
  border: 1px solid var(--accent-color);
}

.text-muted {
  color: #888;
}

.button {
  background-color: #1a1a1a;
  border: 1px solid rgb(148, 148, 148);
  color: white;
  border-radius: 5px;
  padding: 5px 10px;
}

.button:hover {
  background-color: var(--accent-color);
}
.button:disabled {
  background-color: #888;
  cursor: not-allowed;
}
